<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Legend of the Fallen Warrior</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/spritesheet.css">
    <script src="libs/jquery.js"></script>
    <script src="libs/bootstrap.js"></script>
    <script src="libs/angular.js"></script>
    <script src="libs/angular-touch.js"></script>
    <script src="libs/angular-animate.js"></script>
    <script src="libs/ui-bootstrap-tpls-2.3.2.js"></script>
    <script src="libs/angular-route.js"></script>
    <!--base(href="/")-->
</head>
<!--add global controller here, if not set in provider-->

<body ng-app="lotfw" ng-cloak ng-controller="MainController">
    <div class="container-fluid">
        <div class="row" id="topRow">
            <div class="col-xs-3"><span>Level: {{player.level}}</span>
                <button ng-click="player.addExperience(100)">test</button>
            </div>
            <div class="col-xs-9 text-center">
                <uib-progressbar max="player.maxExperience" value="player.experience"><span class="progress-value" style="color:black; white-space:nowrap">{{player.experience}} / {{player.maxExperience}}</span>
                </uib-progressbar>
                <div class="row"></div>
            </div>
        </div>
        <div class="row jumbotron" id="mainRow" ng-show="game.isLoaded">
            <div class="col-xs-12">
                <div class="row" ng-include="'views/mainView.html'"></div>
            </div>
        </div>
        <div class="row" id="ngView">
            <div class="col-xs-12" id="views" ng-view></div>
        </div>
        <!--Fixed nav bar bottom with container to center it.-->
        <nav class="navbar navbar-default navbar-fixed-bottom" id="navBarRow" role="navbar">
            <div class="container">
                <div class="navbar-header" style="padding-bottom:20px"><a class="navbar-brand" href="#!/changelog"><span>Legend of the Fallen Warrior</span></a>
                    <button class="navbar-toggle" data-toggle="collapse" data-target="#gameNavbar"><i class="glyphicon glyphicon-menu-hamburger"></i>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="gameNavbar">
                    <ul class="nav navbar-nav" ng-repeat="item in gameViews">
                        <li><a href="#!/{{item.href}}" ng-mouseenter="item.hovering=true" ng-mouseleave="item.hovering=false"><i ng-class="isHovering(item)" data-toggle="tooltip" data-placement="auto right" title="{{item.name}}"></i><span class="hidden-sm hidden-xs">&nbsp{{item.name | camelCase}}</span></a>
                        </li>
                    </ul>
                    <ul>
                        <li class="list-unstyled">
                            <button class="btn btn-default pull-right" ng-click="game.startGame()">Menu</button>
                        </li>
                    </ul>
                </div>
                <div ng-include="'views/introScreen.html'"></div>
            </div>
        </nav>
    </div>
    <script>
        $(document).ready(function(){
                    $('[data-toggle="tooltip"]').tooltip({delay:{show: 150, hide: 0}});
                    });
    </script>
    <script src="js/app.js"></script>
    <!--Controllers-->
    <script src="js/controllers/mainController.js"></script>
    <script src="js/controllers/playerController.js"></script>
    <script src="js/controllers/spellsController.js"></script>
    <script src="js/controllers/creditsController.js"></script>
    <script src="js/controllers/optionsController.js"></script>
    <script src="js/controllers/professionController.js"></script>
    <script src="js/controllers/inventoryController.js"></script>
    <script src="js/controllers/battleController.js"></script>
    <!--Services-->
    <script src="js/services/game.js"></script>
    <script src="js/services/player.js"></script>
    <script src="js/services/spells.js"></script>
    <script src="js/services/itemTable.js"></script>
    <script src="js/services/itemDrop.js"></script>
    <script src="js/services/equipment.js"></script>
    <script src="js/services/inventory.js"></script>
    <script src="js/services/options.js"></script>
    <script src="js/services/credits.js"></script>
    <script src="js/services/enemies.js"></script>
    <script src="js/services/gameLog.js"></script>
    <script src="js/services/enemyList.js"></script>
    <script src="js/services/battle.js"></script>
    <script src="js/services/professions/mining.js"></script>
    <script src="js/services/professions/herbalism.js"></script>
    <!--Filters-->
    <script src="js/filters/custom.js"></script>
</body>

</html>