<!--Created by Tarnos on 2016-12-26.
-->
<div class="row" ng-hide="game.isLoaded">
    <div class="col-xs-6 col-xs-offset-3">
        <div class="jumbotron">
            <h3 class="text-center">{{game.name}}</h3>
            <p>{{player.name}} level: {{player.level}} experience: {{player.experience}} / {{player.maxExperience}}
                <form ng-submit="player.changeName(game.inputName)">
                    <input type="text" ng-model="game.inputName" />
                    <input type="submit" value="Change" />
                </form>
                <button ng-click="game.startGame()">Start</button>
            </p>
        </div>
    </div>
</div>